SQL_PASSWORD=Your_password123
POSTGRES_PASSWORD=Your_password123
LLM_BASE_URL=https://api.openai.com/v1
LLM_API_KEY=
LLM_MODEL=
EMBEDDING_BASE_URL=https://api.openai.com/v1
EMBEDDING_API_KEY=
EMBEDDING_MODEL=
EMBEDDING_DIMENSIONS=1536
TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
